:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-family: var(--font-family);
  color: hsl(var(--muted-foreground));
}

span {
  display: inline-block;
}

img {
  display: inline-block;
  object-fit: contain;
}
