:host {
  display: inline-block;
}

.vf-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Size variants */
.vf-icon--sm {
  font-size: 18px;
}

.vf-icon--md {
  font-size: 24px;
}

.vf-icon--lg {
  font-size: 36px;
}
