:host {
  width: 100%;
  display: grid;
  gap: 0.75rem;
  /* font-family: var(--font-family); */
}

[part='logo-container'] {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

form {
  display: grid;
  gap: 0.5rem;
}

.form-field {
  position: relative;
  flex: 1;
  min-width: 0;
  /* width: 100%; */
}

.password-field {
  position: relative;
}

.visibility-toggle {
  position: absolute;
  right: 0.25rem;
  top: 0;
}

.visibility-toggle::part(button) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.forgot-password {
  text-align: center;
}

.submit-button {
  width: 100%;
  margin-top: 1rem;
}

.signup-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}
