/* @import 'stencil-react/css/global.css'; */
@import 'stencil-react/dist/themes/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 262.1 100% 95%;
  --foreground: 262.1 5% 0%;
  --card: 262.1 50% 90%;
  --card-foreground: 262.1 5% 10%;
  --popover: 262.1 100% 95%;
  --popover-foreground: 262.1 100% 0%;
  --primary: 262.1 88.3% 57.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262.1 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 224.10000000000002 30% 85%;
  --muted-foreground: 262.1 5% 35%;
  --accent: 224.10000000000002 30% 80%;
  --accent-foreground: 262.1 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 262.1 5% 90%;
  --border: 262.1 30% 50%;
  --input: 262.1 30% 18%;
  --ring: 262.1 88.3% 57.8%;
  --radius: 0.5rem;
}
.dark {
  --background: 262.1 50% 5%;
  --foreground: 262.1 5% 90%;
  --card: 262.1 50% 0%;
  --card-foreground: 262.1 5% 90%;
  --popover: 262.1 50% 5%;
  --popover-foreground: 262.1 5% 90%;
  --primary: 262.1 88.3% 57.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262.1 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 224.10000000000002 30% 15%;
  --muted-foreground: 262.1 5% 60%;
  --accent: 224.10000000000002 30% 15%;
  --accent-foreground: 262.1 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 262.1 5% 90%;
  --border: 262.1 30% 18%;
  --input: 262.1 30% 18%;
  --ring: 262.1 88.3% 57.8%;
  --radius: 0.5rem;
}

/* stencil-react/dist/themes/default.css */
/* Apply colors when data-theme is on html tag */
html[data-theme='dark'] body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* Base styles */
body {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  gap: 10px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
