:host {
  display: inline-block;
}

verite-icon {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

verite-dropdown-menu-item {
  display: flex;
  align-items: center;
}
