:host {
  display: inline-block;
}

:host([data-theme='dark']) {
  color: hsl(240 5% 64.9%);
}

:host([data-theme='dark']:hover) {
  color: hsl(0 0% 98%);
  background: hsl(240 3.7% 15.9%);
}

/* Animation for icon transition */
::slotted([part='sun-icon']),
::slotted([part='moon-icon']) {
  position: absolute;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

::slotted([part='sun-icon']) {
  transform: scale(1);
}

::slotted([part='moon-icon']) {
  transform: scale(1);
}

::slotted([part='sun-icon']:not(:visible)) {
  transform: scale(0);
}

::slotted([part='moon-icon']:not(:visible)) {
  transform: scale(0);
}
