:host {
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: calc(var(--radius) - 2px);
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  outline: none;
  cursor: pointer;
  color: hsl(var(--popover-foreground));
  background-color: transparent;
  gap: 0.5rem;
}

:host(:focus),
:host(:hover) {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
}
