:host {
  display: flex;
}

:host(.flex-row) {
  flex-direction: row;
}

:host(.flex-column) {
  flex-direction: column;
}

:host(.align-start) {
  align-items: flex-start;
}
:host(.align-center) {
  align-items: center;
}
:host(.align-end) {
  align-items: flex-end;
}

:host(.justify-start) {
  justify-content: flex-start;
}
:host(.justify-center) {
  justify-content: center;
}
:host(.justify-between) {
  justify-content: space-between;
}

:host(.width-full) {
  width: 100%;
}

:host(.flex-grow) {
  flex-grow: 1;
}
