:host {
  display: flex;
}

/* Direction */
:host([direction='row']) {
  flex-direction: row;
}

:host([direction='column']) {
  flex-direction: column;
}

/* Vertical alignment */
:host([valign='start']) {
  align-items: flex-start;
}

:host([valign='center']) {
  align-items: center;
}

:host([valign='end']) {
  align-items: flex-end;
}

/* Horizontal alignment */
:host([halign='start']) {
  justify-content: flex-start;
}

:host([halign='center']) {
  justify-content: center;
}

:host([halign='end']) {
  justify-content: space-between;
}

/* Width */
:host([width='full']) {
  width: 100%;
}

/* Grow */
:host([grow]) {
  flex-grow: 1;
}
