:host {
  width: 100%;
  display: grid;
  gap: 0.75rem;
  font-family: var(--font-family);
}

[part='logo-container'] {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* .form-field {
  position: relative;
} */

.code-input {
  width: 40px;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border));
}

.code-input::part(input) {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  cursor: text;
}

.code-input:readonly::part(input) {
  cursor: default;
}

.code-input.active {
  background-color: hsl(var(--highlight));
}

.code-input.active::part(input) {
  background-color: hsl(var(--background));
}

.verify-button {
  width: 100%;
  margin-top: 1rem;
}

.footer-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}
