:host {
  width: 100%;
  display: grid;
  gap: 0.75rem;
}

[part='logo-container'] {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

form {
  display: grid;
  gap: 1rem;
}

.form-field {
  position: relative;
  /* margin-bottom: 1rem; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.password-field {
  position: relative;
}

.visibility-toggle {
  position: absolute;
  right: 0rem;
  top: 0px;
}

.visibility-toggle::part(button) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.forgot-password {
  text-align: center;
}

.submit-button {
  width: 100%;
}

.signup-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}

.powered-by {
  margin-block: 8px 14px;
}

.error-message {
  color: hsl(var(--error));
  font-size: 0.875rem;
  margin-top: 4px;
  margin-left: 0.25rem;
}
