:host {
  display: inline-block;
  color: inherit;
  font-family: var(--font-family);
}

label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: inherit;
  user-select: none;
  pointer-events: none;
}

span {
  margin-left: 4px;
  color: hsl(var(--destructive));
}

:host([disabled]) label {
  opacity: 0.5;
  cursor: not-allowed;
}
