:host {
  display: block;
}

div {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

:host([variant='inset']) div {
  padding: 0px;
  border-top: 1px solid hsl(var(--border));
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: hsl(var(--muted) / 0.5);
  box-shadow: var(--box-shadow);
}
