:host {
  display: block;
}

div {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

:host([variant='inset']) div {
  padding: 0px;
  border-top: 1px solid hsl(var(--border));
  background-color: hsl(var(--muted) / 0.5);
  box-shadow: inset 0 1px 2px hsl(var(--foreground) / 0.1);
}
