:host {
  line-height: 1.2;
  margin: 0;
  color: hsl(var(--card-foreground));
  font-weight: 600; /* default bold weight */
  font-family: var(--font-family);
}

/* Sizes */
:host([size='sm']) {
  font-size: 0.875rem;
}

:host([size='md']) {
  font-size: 1rem;
}

:host([size='lg']) {
  font-size: 1.25rem;
}

:host([size='xl']) {
  font-size: 1.5rem;
}

/* Alignment */
:host([halign='center']) {
  text-align: center;
}

:host([halign='right']) {
  text-align: right;
}

/* Weights */
:host([weight='medium']) {
  font-weight: 500;
}

:host([weight='light']) {
  font-weight: 300;
}
