h3 {
  line-height: 1.2;
  margin: 0;
  color: hsl(var(--card-foreground));
  font-weight: 600; /* default bold weight */
}

/* Sizes */
:host([size='sm']) h3 {
  font-size: 0.875rem;
}

:host([size='md']) h3 {
  font-size: 1rem;
}

:host([size='lg']) h3 {
  font-size: 1.25rem;
}

/* Alignment */
:host([halign='center']) h3 {
  text-align: center;
}

/* Weights */
:host([weight='medium']) h3 {
  font-weight: 500;
}

:host([weight='light']) h3 {
  font-weight: 300;
}
