:host {
  display: block;
  font-family: var(--font-family);
}

div {
  display: block;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
}
