:host {
  --inner-toast-width: var(--toast-width, 388px);
  --inner-toast-padding: var(--toast-padding, 1rem);

  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  pointer-events: none;
  font-family: var(--font-family);
  font-size: 0.875rem;
  width: 100%;
  max-width: var(--inner-toast-width);
  /* width: var(--inner-toast-width); */
  perspective: 1000px;
  box-sizing: border-box;
}

:host(.top-center) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: var(--inner-toast-padding);
}

:host(.top-left) {
  top: 0;
  left: 0;
  padding-left: var(--inner-toast-padding);
  padding-top: var(--inner-toast-padding);
}

:host(.top-right) {
  top: 0;
  right: 0;
  padding-right: var(--inner-toast-padding);
  padding-top: var(--inner-toast-padding);
}

:host(.bottom-left) {
  bottom: 0;
  left: 0;
  padding-bottom: var(--inner-toast-padding);
  padding-left: var(--inner-toast-padding);
}

:host(.bottom-center) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: var(--inner-toast-padding);
}

:host(.bottom-right) {
  bottom: 0;
  right: 0;
  padding-bottom: var(--inner-toast-padding);
  padding-right: var(--inner-toast-padding);
}

/* Default theme */
/* :host([theme='default']) .toast {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

:host([theme='default']) .description {
  color: hsl(var(--muted-foreground));
} */

/* Inverted theme */
:host([theme='inverted']) .toast {
  background: hsl(var(--foreground));
  color: hsl(var(--background));
}

:host([theme='inverted']) ::part(button):hover {
  background-color: hsl(var(--background) / 0.1);
}

:host([theme='inverted']) ::part(icon) {
  color: hsl(var(--background));
}

.toast {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: var(--inner-toast-padding);
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  width: var(--inner-toast-width);
  margin: 0;
  transform-origin: center bottom;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-sizing: border-box;
  opacity: 0;
}

.toast.stacked {
  position: absolute;
  will-change: transform;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  min-width: 0;
}

.text {
  flex: 1;
  min-width: 0;
}

.title {
  font-weight: 500;
  line-height: 1.4;
}

.description {
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
  line-height: 1.4;
}

.toast-region {
  position: absolute;
  pointer-events: auto;
  width: 100%;
  transition: height 0.2s ease-out;
}
